body {
    background-image: linear-gradient(to right, white, rgb(95, 94, 94));
    color: white;
    padding: 40px;
    font-family: sans-serif;
    text-align: center;
  }

button {
    background: rgb(243, 240, 240); 
    border-radius: 10px; 
    color: rgb(46, 45, 45);
    height: 30px;
    width: 100px;
}

textarea {
    border-radius: 10px;
    box-shadow: 5px 10px;
    color: rgb(107, 105, 105);
}
  
.datepicker {
    border-radius: 5px;
    text-align: center;
}

.home img {
    position: absolute;
    top: 20px;
    left: -25px;
}


